.modal-body{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    overflow: auto;
    z-index: 10000;
}
.modal-body h2{
    margin-bottom: 1em;
    margin-top: 1em;
}
#x {
    position: absolute;
    float: right;
	
    top: 0px;
    right: 0px;
}